{# [START form] #}
{% extends "base.html" %}

{% block content %}
<h3>{{ action }}</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" name="name" id="title" value="{{ user.name }}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="title">Email</label>
    <input type="email" name="email" id="title" value="{{ user.email }}" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
{# [END form] #}
